---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";

const identity = {
	firstName: "Margarida",
	country: "Portugal",
	hobbies: ["writing", "exploring", "cooking", "being"],
};

const interests = [
	"regenerative agriculture",
	"celtiberian paganism",
	"writing",
	"programming",
	"cooking",
	"slow travel",
];

const happy = true;
const finished = false;
const goal = 3;

//CSS variables 
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>
		Here you'll find my free exploration focused on regeneration in
		Western Iberia, along with personal essays, notes and stories.
	</h2>
	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country}.</li>
		{
			identity.hobbies.length >= 2 && (
				<li>
					Two of my hobbies are: {identity.hobbies[0]} and{" "}
					{identity.hobbies[1]}
				</li>
			)
		}
	</ul>
	<p>My skills are:</p>
	<ul>
		{interests.map((interest) => <li class="interest">{interest}</li>)}
	</ul>
	<style is:global define:vars={{skillColor, fontWeight, textCase}}>
		h1 {
		  color: purple;
		  font-size: 4rem;
		}
		.interest {
		  color: var(--skillColor);
		  font-weight: var(--fontWeight);
		  text-transform: var(--textCase);
		}
	  </style>
</BaseLayout>
		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}
		
		{
			goal === 3 ? (
				<p>My goal is to finish in 3 days.</p>
			) : (
				<p>My goal is not 3 days.</p>
			)
		}